html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        @media (max-width: 576px) {
            width: 5rem;
        }
    }
}

.input-height,.input-weight{
    color: #ffffff;
    border-radius: 10px;
    padding-left: 1rem;
    background-color: rgba(#ffffff,0.18);
    border: solid 3px $primary
}

.input-height::placeholder{
    color: rgba(#ffffff,0.5);
}

.input-weight::placeholder{
    color: rgba(#ffffff,0.5);
}

.btn-result{
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    background-color: #FFD366;
    border: none;
    &:hover{
        box-shadow: 0px 0px 5px rgba(#FFC432,0.8);
    }
    &:active{
        background-color: #DEA821;
    }
    @media (max-width: 576px) {
        margin-top: 1rem;
        width: 100%;
        height: auto;
        padding: 0.5rem 0rem;
        border-radius: 10px;
    }
    &.bmi-ideal{
        font-size: 2rem;
        color: #86D73F;
        border: solid 5px #86D73F;
        background-color: transparent;
        &::after{
            font-size: 0.875rem;
            position: absolute;
            content: "BMI";
            display: block;
            left: 0;
            right: 0;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    &.bmi-underweight{
        font-size: 2rem;
        color: #31BAF9;
        border: solid 5px #31BAF9;
        background-color: transparent;
        &::after{
            font-size: 0.875rem;
            position: absolute;
            content: "BMI";
            display: block;
            left: 0;
            right: 0;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    &.bmi-overweight{
        font-size: 2rem;
        color: #FF982D;
        border: solid 5px #FF982D;
        background-color: transparent;
        &::after{
            font-size: 0.875rem;
            position: absolute;
            content: "BMI";
            display: block;
            left: 0;
            right: 0;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    &.bmi-obese-1{
        font-size: 2rem;
        color: #FF6C03;
        border: solid 5px #FF6C03;
        background-color: transparent;
        &::after{
            font-size: 0.875rem;
            position: absolute;
            content: "BMI";
            display: block;
            left: 0;
            right: 0;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
    &.bmi-obese-2{
        font-size: 2rem;
        color: #FF1200;
        border: solid 5px #FF1200;
        background-color: transparent;
        &::after{
            font-size: 0.875rem;
            position: absolute;
            content: "BMI";
            display: block;
            left: 0;
            right: 0;
            @media (max-width: 576px) {
                display: none;
            }
        }
    }

}

.result-text{
    line-height: 3rem;
    font-size: 1.5rem;
    position: absolute;
    margin-left: 3rem;
    white-space: nowrap;
    @media (max-width: 992px) {
        font-size: 1.25rem;
    }
    @media (max-width: 768px) {
        font-size: 1rem;
    }
    @media (max-width: 576px) {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    &.bmi-ideal{
        color: #86D73F;
    }
    &.bmi-underweight{
        color: #31BAF9;
    }
    &.bmi-overweight{
        color: #FF982D;
    }
    &.bmi-obese-1{
        color: #FF6C03;
    }
    &.bmi-obese-2{
        color: #FF1200;
    }
}

.btn-return{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    position: relative;
    left: -35px;
    bottom: -45px;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 100%;
    border: solid 3px #424242;
    background-color: #FFD366;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    @media (max-width: 576px) {
        position: absolute;
        z-index: 5;
        border: none;
        margin-top: 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        padding: 0.5rem 0rem;
        width: 2.5rem;
        height: 2.5rem;
        right: 0;
        left: auto;
        bottom: 0px;
        
    }
    &.bmi-ideal{
        display: flex;
        background-color: #86D73F;
    }
    &.bmi-underweight{
        display: flex;
        background-color: #31BAF9;
    }
    &.bmi-overweight{
        display: flex;
        background-color: #FF982D;
    }
    &.bmi-obese-1{
        display: flex;
        background-color: #FF6C03;
    }
    &.bmi-obese-2{
        display: flex;
        background-color: #FF1200;
    }
}

.bmi-list{
    padding: 2rem 1rem; 
    @media (max-width: 992px) {
        padding: 2rem 0rem; 
    }
}

.bmi-item{
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    padding: 1rem 0.5rem 1rem 0rem;
    margin-bottom: 1rem;
}

.bmi-result-container{
    display: flex;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
    @media (max-width: 992px) {
        width: 120px;
    }
    @media (max-width: 576px) {
        width: auto;
        flex-grow: 1;
    }
    .bmi-result-color{
        top: 0;
        bottom: 0;
        position: absolute;
        width: 7px;
        height: 100%;
        &.bmi-ideal{
            background-color: #86D73F;
        }
        &.bmi-underweight{
            background-color: #31BAF9;
        }
        &.bmi-overweight{
            background-color: #FF982D;
        }
        &.bmi-obese-1{
            background-color: #FF6C03;
        }
        &.bmi-obese-2{
            background-color: #FF1200;
        }
    }
    .bmi-result-title{
        font-size: 1.25rem;
        padding-left: 1rem;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}
.bmi-num-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .bmi-num-title{
        font-size: 0.875rem;
        margin-right: 0.5rem;
        font-weight: lighter;
        @media (max-width: 576px) {
            font-size: 0.75rem;
            
        }
    }
    .bmi-num{
        font-size: 1.25rem;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}
.bmi-weight-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .bmi-weight-title{
        font-size: 0.875rem;
        margin-right: 0.5rem;
        font-weight: lighter;
        @media (max-width: 576px) {
            font-size: 0.75rem;
        }
    }
    .bmi-weight{
        font-size: 1.25rem;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}
.bmi-height-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .bmi-height-title{
        font-size: 0.875rem;
        margin-right: 0.5rem;
        font-weight: lighter;
        @media (max-width: 576px) {
            font-size: 0.75rem;
        }
    }
    .bmi-height{
        font-size: 1.25rem;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}
.bmi-date-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    span{
        font-size: 0.75rem;
    }
}

footer{
    margin-top: auto;
}